<div class="login-bg">
	<div class="login-header"><%= link_to("新規登録","users/signup",class: "new-button") %></div>

	<div class="users-login-wrapper">
		<div class="login-img-box">
			<h1 class="login-img txtll">Edgeyee!</h1>
			<p class="login-title">ログイン</p>
  	</div>
<%= form_tag("/login") do %>
    <input class="login-form txtm"　name = "name" placeholder="名前">
    <input class="login-form txtm" name = "email" placeholder="メールアドレス">
    <input class="login-form txtm" name = "password" placeholder="パスワード" type = "password">
    <br>
    <input class="submit-button white" type = "submit" value="次へ">
<% end %>
	</div>
</div>
