/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*全要素に対するCSS*/
 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	text-decoration: none;
 	list-style: none;
 	font-family: HiraginoSans-W3, "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, sans-serif;
 }

/*文字サイズ指定*/
 .txtll{
 	font-size: 50px;
 }
 .txtm{
 	font-size: 16px;
 }
 .txtl{
 	font-size: 30px;
 }
 .txtxs{
 	font-size: 12px;
 }

/*placeholderの色指定*/
 input::placeholder{
 	color: #CCCCCC;
 }
 textarea::placeholder{
 	color: #CCCCCC;
 }

/*よく使う色の定義*/
 $main-color1: #25C6FF;
 $main-color2: #4169E1;
 $jump-color: #319F4F;
 $jump-color2: #4FFF7E;
 $spin-color: #C69404;
 $spin-color2: #FFFA71;
 $other-color: #CB4E13;
 $other-color2: #FFA777;
.white{
	color: white;
}
.grey{
	color: #CCCCCC;
}

/*ヘッダー*/
header{
	background-color: #F2F4F6;
	padding: 10px 5%;
	display: flex;
	justify-content: space-between;

}
.header-left{
  font-size:32px;
}
.header-letter{
  color: blue;
  font-weight: bold;
}



.content-wrapper{
	padding: 30px 15%;
}
