// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
    position:25%;
}
.twitter-btn {
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
  display: inline-block;
}
.twitter {
  background-color: #55acee;
}
